<div class="row">
  <div class="col-md-6">
    <h3>Purchase Orders</h3>
  </div>
  <% if @current_user_role == AppConstants::ADMIN %>
    <div class="col-md-6">
      <%= link_to 'New Purchase order', new_purchase_order_path , class: 'btn btn-mini btn-style pull-right', style: 'margin-top:2%;' %>
    </div>
  <% end %>
</div>


<table class="table table-striped list_data_table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Tot. Products</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
    <% @purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= purchase_order.name %></td>
        <td><%= purchase_order.purchase_order_products.count %></td>
        <td><%= purchase_order.is_completed? ? 'Completed' : 'Pending' %></td>
        <td>
        <% if @current_user_role == AppConstants::ADMIN %>
          <%= link_to '', purchase_order, class: 'fa fa-eye' %>
          <%= link_to '', edit_purchase_order_path(purchase_order), class: 'fa fa-edit' if not purchase_order.is_completed %>
          <%= link_to '', purchase_order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash' %>
        <% else %>
          <%= link_to '', purchase_order, class: 'fa fa-eye' %>
        <% end %> 
        </td>


      </tr>
    <% end %>
  </tbody>
</table>