<p>
  <strong>Name:</strong>
  <%= @purchase_order.name %>
  <% if not @purchase_order.is_completed %>
    <%= link_to 'Complete Order', complete_order_purchase_order_path(@purchase_order), class: 'btn btn-success pull-right' %>
    <%= link_to 'Update Order', '#', class: 'btn btn-primary pull-right', id: 'update_purchase_order' %>
  <% end %>
</p>

<table class="table table-striped">
  <thead>
  <th>Product Name</th>
  <th>Expiry</th>
  <th>Current Stock</th>
  <th>Purchase Quantity</th>
  <th>Expiry</th>
  <th>Actions</th>
  </thead>
  <tbody>
  <% @purchase_order_products.each do |order_product| %>
      <% product = order_product.product %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= product.expiry_date ? product.expiry_date.to_date.strftime('%d/%m/%Y') : nil %></td>
        <td><%= product.quantity %></td>
        <td>
          <% if not @purchase_order.is_completed %>
            <%= text_field_tag 'quantites[]', order_product.purchase_quantity, class: 'update_order_quantites', style: 'width:20%;', id: order_product.id %>
          <% else %>
              <%= text_field_tag 'quantites[]', order_product.purchase_quantity, class: 'update_order_quantites', style: 'width:20%;', id: order_product.id, disabled: true %>
          <% end %>
        </td>
        <td>
          <% if not @purchase_order.is_completed %>
            <% if order_product.expiry_date.present? %>
              <%= text_field_tag 'expiry_date[]', order_product.expiry_date.to_date.strftime('%d/%m/%Y') , class: "datepicker" %>
            <% else %>
                <%= text_field_tag 'expiry_date[]', Date.today.strftime('%d/%m/%Y') , class: "datepicker" %>
            <% end %>
          <% else %>
            <%= order_product.expiry_date.to_date.strftime('%d/%m/%Y') if order_product.expiry_date.present? %>
          <% end %>
        </td>
        <td>
          <% if not @purchase_order.is_completed %>
            <%= link_to '', remove_order_product_purchase_order_product_path(order_product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>


<script type="text/javascript">
    $(document).ready(function () {
        $('#update_purchase_order').click(function () {
            ids_array    = [];
            qnty_array   = [];
            expiry_array = []

            $('.update_order_quantites').each(function () {
                ids_array.push($(this).attr('id'));
                qnty_array.push(this.value);
                expiry_array.push($(this).next('input').val());
            });
            console.log(ids_array);
            console.log(qnty_array);
            console.log(expiry_array);
            window.location.href = "http://localhost:3000/purchase_order_products/update_products?ids=" + ids_array + "&quantities=" + qnty_array + "&expiries=" + expiry_array;
        });
    })
</script>