 <h3 class="pull-left">
  <strong>Name:</strong>
  <%= (@purchase_order.name).upcase %>
</h3>
 <div class="pull-right">
   <%if not @purchase_order.is_completed %>
     <%= link_to 'Complete Order', complete_order_purchase_order_path(@purchase_order), class: 'btn btn-success', id: "purchase_file" %>
     <%= link_to 'Add Order', new_purchase_order_purchase_order_product_path(@purchase_order), class: 'btn btn-info', id: 'add_purchase_order_products' %>
   <% end %>
    <%#= link_to 'Edit Order',  edit_purchase_order_product_path(@purchase_order), class: 'btn btn-primary pull-right', id: 'update_purchase_order_products' %>
   <%= link_to 'Generate PDF', purchase_order_path(@purchase_order, {format: :pdf}), class: 'btn btn-warning' %>
 </div>

<table class="table table-striped list_data_table">
  <thead>
  <th>Product Name</th>
  <th>Current Stock</th>
  <th>Purchase Quantity</th>
  <!--<th>Expiry</th>-->
  <% if not @purchase_order.is_completed %>
  <th>Actions</th>
  <% end %>
  </thead>
  <tbody>
  <div  class="purchase_order_products" >
  <% @purchase_order_products.each do |purchase_order_product| %>
      <tr>
        <td><%= purchase_order_product.name %></td>
        <td><%= purchase_order_product.current_stock %></td>
        <td>
          <%= purchase_order_product.purchase_quantity %>
          <!--<%# if not @purchase_order.is_completed %>-->
            <!--<%#= text_field_tag 'quantites[]', purchase_order_product.purchase_quantity, class: 'update_order_quantites', style: 'width:20%;', id: purchase_order_product.id %>-->
          <!--<%# else %>-->
              <!--<%#= text_field_tag 'quantites[]', purchase_order_product.purchase_quantity, class: 'update_order_quantites', style: 'width:20%;', id: purchase_order_product.id, disabled: true %>-->
          <!--<%# end %>-->
        </td>
          <% if not @purchase_order.is_completed %>
            <td>
            <%#= text_field_tag 'ids1[]', order_product.id, class:'delete_purchase_order_product',id: order_product.id %>
              <%#=  id = order_product.id %>
              <%#= @purchase_order_product = PurchaseOrderProduct.find_by_id ( id )%>
              <%# @order_product = @purchase_order_product.name %>
              <%=  link_to 'Edit', edit_purchase_order_purchase_order_product_path(@purchase_order,purchase_order_product), class: 'btn btn-success' %>
              <%=  link_to 'Delete', purchase_order_purchase_order_product_path(@purchase_order, purchase_order_product), method: :delete, class: 'btn btn-danger' %>
              <%#= link_to 'Edit Order',  edit_purchase_order_purchase_order_product_path(@purchase_order,purchase_order_product), class: 'btn btn-success pull-right', id: 'update_purchase_order_products' %>
              <%#= link_to '', update_products_purchase_order_product_path , class: 'fa fa-edit' %>
              <%#= link_to 'Edit', 'javascript:void(0)', id: 'update_purchase_order_product', class: 'btn btn-mini btn-success' %>
            </td>
      <% end %>
      </tr>
  <% end %>
  </div>
  </tbody>
</table>

<%#= link_to 'Edit', edit_purchase_order_path(@purchase_order) %>
<%#= link_to 'Back', purchase_orders_path %>


<script type="text/javascript">
       $(document).ready(function () {
//        $('#delete_purchase_order_product').click(function () {
//            ids_array1= [];
//            purchase_order = order_product.id;
//            $('.purchase_order_products').each(function () {
//                ids_array1.push(this.value);
//            });
//            console.log(ids_array1);
//            window.location.href = "http://localhost:3000/purchase_order/purchase_order/purchase_order_products/del?ids=" + ids_array1;
//        });

//
        $('#update_purchase_order_product').click(function () {
            ids_array    = [];
            qnty_array   = [];
            expiry_array = []

            $('.update_order_quantites').each(function () {
                ids_array.push($(this).attr('id'));
                qnty_array.push(this.value);
                expiry_array.push($(this).next('input').val());
            });
            console.log(ids_array);
            console.log(qnty_array);
            console.log(expiry_array);
            window.location.href = "http://localhost:3000/purchase_order/" + purchase_order + "/purchase_order_products/" + purchase_order_product+ "/update_products?ids=" + ids_array + "&quantities=" + qnty_array + "&expiries=" + expiry_array;
        });
    });
</script>