<style type="text/css" media="print">
  #h3_sale { display: none; }
  #print_btn { display: none; }
  #action_btn { display: none; }
  #selector-div { display: none; }
  #added_products td:nth-child(1),th:nth-child(1) { display: none; }
  #added_products td:nth-child(3),th:nth-child(3) { display: none; }
  #added_products td:nth-child(8),th:nth-child(7) { display: none; }
  .order-item-quantity-input{ border: none; text-align: right;}
  #discount_percentage{ border: none; text-align: right;}
  #table-values{position: relative;float: none !important;}
</style>
<div class="row">
  <%= form_for(@order) do |f| %>

      <div id="table-style" style="width:70%; float:left">

        <div class="col-md-6">
          <% if @order.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
                <ul>
                  <% @order.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div id="selector-div" class="col-md-6" style="margin-bottom:10px;">
            <% if @products.present? %>
                Search Products:<%=  select_tag "products", options_for_select(@products.try(:collect) { |u| [u.product_name , "#{u.id}:#{u.product_name}:#{u.sale_price.to_s}: #{u.quantity}"]}), {:id =>"chosen-select",:style=>'width:250px;',class: 'asdasd',  multiple: 'multiple'} %>
            <% end %>
          </div>
          <div>
            <%= render :partial => 'added_products'  , class: 'col-md-12'%>
          </div>

          <%= f.fields_for :order_products, onsubmit: "calculateQuantity();" do |order_product_form|  %>
              <p>
                <%= order_product_form.text_field :product_id  %>
                </p>
          <% end %>
        </div>
      </div>

      <div id="table-values" style="width:30%; float:right">
        <br class="col-md-4">
        <br class="col-md-12">
        <table class="table table-striped "  style="font-size:84px" >

          <td style="background-color: rgb(0,221,147);color: white"><h3>Total </h3></td>
          <td style="background-color: rgb(0,221,147);color: white ;text-align: right"><h3 id="total_amount">0.0</h3></td>
          <tbody>

          <tr>
            <td>Gross Amount</td>
            <td id="gross_amount" style=" text-align: right"> 0 </td>
          </tr>

          <tr>
            <td>Discount%</td>
            <td style=" text-align: right">
              <input type="text" name="order[discount]" value ="0" id="discount_percentage" style="width: 50px;">
            </td>
          </tr>

          <tr>
            <td>Total Discount</td>
            <td id="discount_amount" style=" text-align: right"> 0 </td>
          </tr>

          <tr>
            <td>Net Amount</td>
            <td id="net_amount" style=" text-align: right"> 0 </td>
          </tr>
          </tbody>
        </table>


        <input id="print_btn" type="button"  value = "print" onclick="PrintDiv();" class="print btn btn-primary" style=" width: 100% ; border-radius: 0px;background-color: rgb(0,221,147)">
        </input>

        <div class="row" id="action_btn">
          <div class="col-md-4" style="width: 50%">
            <%= f.submit 'Save',{:style =>'margin-top:5px ; width: 100%', :class => 'btn btn-primary save'  } %>
          </div>
          <div class="col-md-3"style="width: 50%">
            <a style=" width: 100% ;margin-top:5px ; border-radius: 0px;background-color: darkgrey"  class="btn btn-default">&nbsp;Cancel&nbsp;</a>
          </div>
        </div>
  <% end %>

  </div>
</div>

