<h1>Listing orders</h1>
<table class="table table-striped col-md-12" >
  <thead>
    <tr>
      <th>No.</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at %></td>
        <td>
          <%= link_to '', order, class: 'glyphicon glyphicon-eye-open' %>
          <%= link_to '', edit_order_path(order), class: 'glyphicon glyphicon-edit' %>
          <%= link_to '', order_path(order, format: :pdf), class: 'glyphicon glyphicon-download-alt' %>
          <%= link_to '', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', sale_order_orders_path %>
