<%= link_to 'New Order', sale_order_orders_path, class: 'pull-right btn btn-success' %>
<h1>Listing orders</h1>
<table class="table table-striped col-md-12 list_data_table " >
  <thead>
  <tr>
      <th>Order No.</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_id %></td>
        <td><%= (order.created_at).to_date.strftime('%d-%m-%Y') %></td>
        <td>
          <%= link_to '', order, class: 'fa fa-eye' %>
          <%= link_to '', edit_order_path(order), class: 'fa fa-edit' %>
          <%= link_to '', order_path(order, format: :pdf), class: 'fa fa-download' %>
          <%= link_to '', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

