  <p id="notice"><%= notice %></p>
<dl class="dl-horizontal">
  <dt>Order number:</dt>
  <dd><%= @order.id %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Order date:</dt>
  <dd><%= @order.created_at %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Order type:</dt>
  <dd><%#= @order.order_type %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Location:</dt>
  <dd><%#=  %></dd>
</dl>

<% if @order.order_products.any? %>
  <br/>
  <h4><strong>Products</strong></h4>
  <table class="table">
    <thead>
      <th> Name </th>
      <th> Sale Price </th>
      <th> Quantity </th>
      <th> Total Price </th>
      <th> Discount </th>
      <th> Discounted Price </th>
    </thead>
    <tbody>
      <% @order.order_products.try(:each) do |op| %>
        <tr>
          <td>
            <strong><%= op.product_name %></strong>
          </td>
          <td>
            <%= op.unit_price %>
            <% p=op.unit_price%>
          </td>
          <td>
            <%= op.quantity %>
            <% q=op.quantity%>
          </td>
          <td>
            <%= op.total_price %>
          </td>
          <td>
            <%=  @order.discount%>
            <% d =@order.discount  %>
          </td>
          <td>
            <%= ( (p*q) - (((d/100)*q)*p)) %>
          </td>

        </tr>

    <% end %>

    </tbody>
        </table>
  <%end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'print', 'javascript:void(0);', class: 'take-print' %> |
<%=   link_to 'Generate PDF', order_path(@order, {format: :pdf}) %> |
<%= link_to 'Back', orders_path %>