<%= form_for @product, html: { multipart: true } do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
            <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <%= f.label :product_name %><br>
            <%= f.text_field :product_name, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label :purchase_price %><br>
            <%= f.number_field :purchase_price, step: :any %>
          </div>
          <div class="field">
            <%= f.label :sale_price %><br>
            <%= f.number_field :sale_price, step: :any %>
          </div>
          <div class="field">
            <%= f.label :quantity %><br>
            <%= f.number_field :quantity %>
            <% if not @product.new_record?%>
              <%= f.check_box("update_quantity", :checked => false) %>
              <%= f.label :update_quantity %><br>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="field">
            <% if not @product.new_record? %>
                <%= f.label :expiry_date %><br>
              <% if not @product.expiry_date.blank? %>
                <%= f.text_field :expiry_date, class: "datepicker", value: @product.try(:expiry_date).strftime("%d/%m/%Y") %>
              <% else %>
                <%= f.text_field :expiry_date, class: "datepicker" %>
              <% end %>
            <% else %>
                <%= f.label :expiry_date %><br>
                <%= f.text_field :expiry_date, class: "datepicker" %>
            <% end %>
          </div>
          <% if @product.new_record?%>
              <div class="field">
                <%= f.label :purchase_order_id %><br>
                <%= f.select :purchase_order_id, options_for_select(@purchase_orders.collect{ |u| [u.name, u.id] }, selected: @product.purchase_order_id), class: 'purchase_order_list', prompt: 'Select Purchase Order'  %>
                <%= text_field_tag :purchase_order, nil, placeholder: ' if not Available', disabled: false %>
              </div>
          <% end %>
          <div class="field">
            <%= f.label :product_description %><br>
            <%= f.text_area :product_description, size:'50x5' %>
          </div>
          <div class="actions">
            <%= f.submit  class:'btn btn-style', id: 'add_item_to_purchase_list' %>
          </div>
        </div>
      </div>
    </div>
<% end %>
