<div class="row">
  <div class="col-md-6">
    <h3>Products</h3>
  </div>
  <div class="col-md-6">
    <% if @current_user_role == AppConstants::ADMIN %>
        <%= link_to 'Download CSV', download_products_path({format: 'csv'}) , class: 'btn btn-mini btn-info pull-right', style: 'margin-top:2%;' %>
        <%= link_to 'New product', new_product_path , class: 'btn btn-mini btn-style pull-right', style: 'margin-top:2%;' %>
    <% end %>
  </div>
</div>


<table class="table table-striped list_data_table">
  <thead>
    <tr>
      <th>Product name</th>
      <th>Purchase price</th>
      <th>Sale price</th>
      <th>Quantity</th>
      <th>Expiry date</th>
      <th>Rack#</th>
      <th>Actions</th>
      <th>Comapny</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
<!--        <td><%#= "#{product.product_name}" %></td>-->

        <td>
          <a href="#" class="editable" data-name="product_name" data-type="text" data-pk="<%= product.id %>" data-url="<%= update_product_name_editable_product_path(product.id) %>" data-title="Enter product name">
            <%= product.try(:product_name) %>
          </a>
        </td>


        <td>
          <a href="#" class="editable" data-name="purchase_price" data-type="text" data-pk="<%= product.id %>" data-url="<%= update_purchase_price_editable_product_path(product.id) %>" data-title="Enter Purchase Price">
            <%= product.try(:purchase_price) %>
          </a>
        </td>

        <td>
          <a href="#" class="editable" data-name="sale_price" data-type="text" data-pk="<%= product.id %>" data-url="<%= update_sale_price_editable_product_path(product.id) %>" data-title="Enter Sale Price">
            <%= product.try(:sale_price) %>
          </a>
        </td>

        <td>
          <a href="#" class="editable" data-name="quantity" data-type="text" data-pk="<%= product.id %>" data-url="<%= update_quantity_editable_product_path(product.id) %>" data-title="Enter Quantity">
            <%= product.try(:quantity) %>
          </a>
        </td>

        <td>
          <% if product.expiry_date.present?
              expiry_date = product.expiry_date.strftime('%d/%m/%Y')
            else
              expiry_date = nil
            end
          %>
          <a href="#" class="editable" data-name="expiry_date" data-type="date" data-pk="<%= product.id %>" data-url="<%= update_expiry_editable_product_path(product.id) %>" data-title="Enter Expiry date">
            <%= expiry_date %>
          </a>
        </td>

        <td>
          <a href="#" class="editable" data-name="rack_number" data-type="text" data-pk="<%= product.id %>" data-url="<%= update_rack_number_editable_product_path(product.id) %>" data-title="Enter Rack Number">
            <%= product.try(:rack_number) %>
          </a>
        </td>

        <td>
          <%= link_to '', product, class: 'fa fa-eye' %>
          <% if @current_user_role == AppConstants::ADMIN %>
              <%= link_to '', edit_product_path(product), class: 'fa fa-edit' %>
              <%= link_to '', print_product_path(product), class: 'fa fa-download' %>
          <% end %>
        </td>
        <td>
          <%= select_tag(:purchase_order_id, options_for_select(@purchase_orders.collect{ |u| [u.name, u.id] }), class: 'purchase_order_id', prompt: 'Select Purchase Order', product_id: product.id, quantity: product.quantity)%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%=paginate @products %>
