<div class="row">
  <div class="col-md-6">
    <h3>Products</h3>
  </div>
  <div class="col-md-6">
    <% if @current_user_role == AppConstants::ADMIN %>
        <%= link_to 'Download CSV', download_products_path({format: 'csv'}) , class: 'btn btn-mini btn-info pull-right', style: 'margin-top:2%;' %>
        <%= link_to 'New product', new_product_path , class: 'btn btn-mini btn-style pull-right', style: 'margin-top:2%;' %>
    <% end %>
  </div>
</div>


<table class="table table-striped list_data_table">
  <thead>
    <tr>
      <th>Product name</th>
      <th>Purchase price</th>
      <th>Sale price</th>
      <th>Quantity</th>
      <th>Actions</th>
      <th>Comapny</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= "#{product.product_name}" %></td>
        <td><%= product.purchase_price %></td>
        <td><%= product.sale_price %></td>
        <td>
          <!--<a href="#" class="editable" data-name="quantity" data-type="text" data-pk="<%= product.id %>" data-url="<%= update_quantity_editable_product_path(product.id) %>" data-title="Enter Quantity">-->
            <%= product.quantity %>
          <!--</a>-->
        </td>
        <td>
          <%= link_to '', product, class: 'fa fa-eye' %>
          <% if @current_user_role == AppConstants::ADMIN %>
              <%= link_to '', edit_product_path(product), class: 'fa fa-edit' %>
              <%= link_to '', print_product_path(product), class: 'fa fa-download' %>
          <% end %>
        </td>
        <td>
          <%= select_tag(:purchase_order_id, options_for_select(@purchase_orders.collect{ |u| [u.name, u.id] }), class: 'purchase_order_id', prompt: 'Select Purchase Order', product_id: product.id, quantity: product.quantity)%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
