<div class="panel panel-success">
  <table class="table table-striped ">
    <div class="panel-heading">
      <div class="panel-heading">
        <thead>
          <th>No#</th>
          <th>Item Name</th>
          <th>Order Number</th>
          <th>Quantity</th>
          <th>Current Stock</th>
          <th>Purchase Price</th>
          <th>Sale Price</th>
          <th>Total Price</th>
          <th>Order Discount</th>
        </thead>
      </div>
      <div class="panel-body">
        <tbody>
          <% total_price = 0%>
          <% discounted_price = 0 %>
          <% purchase_price_total = 0 %>

          <% @order_products.each_with_index do |order_product, index|  %>
            <% order   = order_product.order
            %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= order_product.try(:product_name) %></td>
              <td><%= order_product.try(:order).try(:order_id) %></td>
              <td><%= order_product.try(:quantity) %></td>
              <td><%= order_product.try(:product_stock) %></td>
              <td><%= order_product.try(:purchase_price) %></td>
              <td><%= order_product.try(:unit_cost) %></td>
              <td>
                <% price       = order_product.try(:quantity)*order_product.try(:unit_cost)
                   total_price = total_price+price
                %>
                <% purchase_price       = order_product.try(:quantity)*order_product.try(:purchase_price)
                   purchase_price_total = purchase_price_total+purchase_price
                %>
                <%= price %>
              </td>
              <td><%= order.try(:discount) %></td>

              <% discounted_price = discounted_price + (price - (price*order.try(:discount))/100) %>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td> Total Sale :</td>
            <td><%= total_price %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td> Discounted Price :</td>
            <td><%= discounted_price.round(2) %></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td> Profit :</td>
            <td><%= (discounted_price - purchase_price_total).round(2) %></td>
          </tr>

        </tbody>
      </div>
    </div>
  </table>
</div>