<br/>
<div class="panel panel-success">

  <table class="table table-striped">
    <div class="panel-heading">
      <div class="panel-heading">
        <thead>
        <th>
          No#
        </th>
        <th>
          Item Name
        </th>
        <th>
          Quantity
        </th>
        <th>
          Stock
        </th>
        <th>
          Price
        </th>
        </thead>
      </div>
      <div class="panel-body">
        <% totalPrice = 0.0 %>

        <% if @order_products.present? %>
            <tbody>
            <% @order_products.each do  %>
                <% @products = Product.where(id: @order_products.pluck(:product_id)) %>
            <% end %>

            <% @products.each do %>
                <% @oP = @order_products.where(product_id: @products.pluck(:id)) %>
            <% end %>
            <% var = 0 %>


            <% @products.each do |order_product| %>
                <% quantity = 0 %>
                <% price = 0 %>
                <% discount = 0 %>

                <% @oPP = @oP.where(product_id: order_product.id) %>
                <% @oPP.each do |q| %>
                    <% quantity = q.quantity + quantity %>
                <% end %>
                <% @oPP.each do |q| %>
                    <% pquantity = q.quantity %>
                    <% discount = q.try(:order).try(:discount) %>
                    <% unit_price = q.unit_cost %>
                    <% qprice = ((unit_price*pquantity)-(((discount*unit_price)*pquantity)/100))  %>
                    <% price = qprice +price %>
                <% end %>

                <tr>
                  <% var = var+1 %>
                  <td>
                    <%= var %>
                  </td>
                  <td>
                    <%= order_product.product_name%>
                  </td>
                  <td>
                    <%= quantity %>
                  </td>

                  <td>
                    <%= order_product.quantity %>
                  </td>
                  <td>
                    <%= price %>
                    <% totalPrice = price +totalPrice %>
                  </td>
                </tr>
            <% end %>
        <%end %>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
          Total Price:
        </td>

        <td>
          <%= totalPrice %>
        </td>
        </tbody>
      </div>
    </div>
  </table>

</div>