
<h1>Sale report</h1>

<div class="panel panel-primary">

  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <%= form_tag('/reports/sale_report', multipart: true, method: :post, class: 'form-inline', remote: true) do |f|  %>
        <div class="form-group" id="from_date_div">
          From date: <%= text_field_tag :from_date, nil, class: 'datepicker form-control', placeholder: 'optional' %>
        </div>
        <div class="form-group"  id="to_date_div">
          To date:<%= text_field_tag :to_date, nil, class: 'datepicker form-control', placeholder: 'optional' %>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-xs btn-info" id="generate_report_button"  style="line-height: 0px;" >Generate</button>
        </div>
    <% end %>
  </div>

</div>

  <%= link_to "Download Pdf",'javascript:void(0)',id: 'pdf_download', class: 'btn btn-style pull-right'  %>

<div id="report">
  <% if @order_products.present? %>
    <%= render 'report_content' %>
  <% end %>
</div>

<script>
    $(document).ready(function() {

        $('#pdf_download').click(function () {
            var from_date = $('#from_date').val();
            var to_date = $('#to_date').val();

            var origin = window.location.origin;
            window.location.href = origin + '/reports/sale_report.pdf?from_date=' + from_date +
                '&to_date=' + to_date
        });
    });
</script>
