<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Naseem Pharmacy</title>
    <%= csrf_meta_tag %>
    <%= Gon::Base.render_data %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/shared/navigation' %>
    <%#= render 'layouts/shared/sidebar' %>
    <!--<br><br><br><br>-->
    <div class="content-wrapper" style="background-color: lightslategray">
      <div class="container">
        <div style="margin-top: 8%;">
          <%= render 'layouts/shared/messages' %>
          <%= yield %>
        </div>

      </div>
    </div>
    <%= render 'layouts/shared/footer' %>
  </body>
</html>
